In [2]:
import pandas as pd
data_excel=pd.read_excel('/content/AIML/Book2.xlsx')
data_csv=pd.read_csv('/content/AIML/Book1.csv')
data_tsv=pd.read_csv('/content/AIML/book3.tsv',sep='\t')
#data_url=pd.read_url('')
print(data_csv)
print(data_excel)
print(data_tsv)

    name   age     rn   TM
0  Anurag    21  1001  650
1  Akshay    99  1002  654
2    Balu    19  1003  620
3   Alpha    18  1004  680
    name   age   marks
0  Kapoor    22     50
1  Sharma    56     59
2    Alia    34     81
3   Bhanu    19     99
Empty DataFrame
Columns: [hello my name is anurag eating sleeping and repeati ng is my hobbie]
Index: []